{%extends 'user/base.html'%}
{% load static %}
{%block head%}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>K-Centre</title>

<!-- CSS  -->

  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="{% static 'css\style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
{%endblock head%}
{% block content %}
<div class="container">
    <h2> List of All Cities </h2>
<ul class="collection">
{% for city in City_List %}
    <li class="collection-item">{{forloop.counter}}-{{ city.name }}</li>
{% endfor %}
</ul>
</div>

{%endblock content%}
